

.o-info-container{
    /* padding: 15px 0px 15px 500px; */
    background-image: url(../resources/fondo3.jpg);
    height: 100%;
    width: 100%;
    /* border: 0.5px solid black; */
    text-align: center;
    /* padding: 15px 50px 15px 0px; */
    /* border-radius: 5%; */
    justify-content: space-between;
    /* margin: 0px 20px 0px 20px; */
    text-shadow: 1px 0.5px 1px white;
    font-size: 23px;
}
/* #parrafo{
    text-shadow: 0em 0em 0em white;
    /* font-size: 20px; */
 

.o-img-profile{
border-radius: 50%;
border: 5px solid white;
height: 10rem;
/* margin-top: -5px;
align-items: center; */
/* align-items: flex-end; */

}

/* .o-portfolio .o-brown{

    background-color: brown;
    

} */
/* #img-p2{

    text-align: center;

}
.o-portfolio .o-project .o-img-p2{

    text-align: center;

} */

.o-portfolio{

    margin: 10px 40px 0px 40px;
    padding: 1rem;
    /* border: 5px solid black; */
    /* background-color: chocolate; */

}

.o-project{

    background-color: rgb(220, 220, 220);
    padding: 1rem;
    margin: 1rem;
    border: 0.5px solid black;
    border-radius: 10px 10px;
    
}

#project1{
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;

}

#project2{

    text-align: center;

}

#project3{

    text-align: center;

}


